name: Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
      - cron: '59 23 * * 3'

jobs:

  unittests:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [macos, ubuntu, windows]
        environment-file: [ci/envs/37-minimal.yaml, ci/envs/310-latest-conda-forge.yaml]
        include:
          - os: ubuntu
            environment-file: ci/envs/38-conda-forge.yaml
          - os: ubuntu
            environment-file: ci/envs/39-conda-forge.yaml

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: 'latest'

      - name: Install contextily
        shell: bash -l {0}
        run: pip install .
        if: matrix.os != 'windows'

      - name: Install contextily
        shell: powershell
        run: pip install .
        if: matrix.os == 'windows'

      - name: run tests - bash
        shell: bash -l {0}
        run: pytest -v . --cov=contextily --cov-append --cov-report term-missing --cov-report xml
        if: matrix.os != 'windows'

      - name: run tests - powershell
        shell: powershell
        run: pytest -v . --cov=contextily --cov-append --cov-report term-missing --cov-report xml
        if: matrix.os == 'windows'

      - uses: codecov/codecov-action@v3
